<div class="container">




    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">


            <li class="nav-item">
                <button routerLinkActive="active current" routerLink="listaknjiga"
                    class="m-1 btn btn-light btn-outline-primary" Button>Spisak svih
                    knjiga</button>
            </li>
            <li class="nav-item">
                <button routerLinkActive="active current" class=" m-1 btn btn-light btn-outline-primary"
                    routerLink="dodajknjigu"> Dodaj knjigu</button>

            </li>

        </ul>

    </nav>



    <div class="container">
        <router-outlet></router-outlet>
    </div>

</div>