<!-- <button type="button" class="btn btn-light mr-1" data-toggle="modal" data-target="#exampleModal" data-toggle="modal"
    data-target="#exampleModal" s s data-backdrop="static" data-keyboard="false">
    
</button> -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="static"
    data-keyboard="false">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
    </svg>
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div *ngIf="knjiga!==undefined; else elseBlock">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ID: {{knjiga.KnjigaId}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="forma">
                        <div class="form-group">
                            <label for="imeknjige" class="col-form-label">Ime knjige:</label>
                            <input formControlName="imeknjige" type="text" class="form-control" id="imeknjige">
                            <div *ngIf="forma.get('imeknjige').touched && forma.get('imeknjige').invalid"
                                class="alert alert-danger">Unesite potrebne podatke </div>
                        </div>

                        <div class="form-group">
                            <label for="autorknjige" class="col-form-label">Ime autora:</label>
                            <textarea formControlName="autorknjige" class="form-control" id="autorknjige"></textarea>
                            <div *ngIf="forma.get('autorknjige').touched && forma.get('autorknjige').invalid"
                                class="alert alert-danger">Unesite potrebne podatke </div>
                        </div>
                        <div class="form-group">
                            <label for="stanjeknjige" class="col-form-label">Stanje:</label>
                            <textarea formControlName="stanjeknjige" class="form-control" id="stanjeknjige"></textarea>
                            <div *ngIf="forma.get('stanjeknjige').touched && forma.get('stanjeknjige').invalid"
                                class="alert alert-danger">Unesite potrebne podatke </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Knjiga stanje:</label>
                            <textarea class="form-control" id="message-text"></textarea>

                        </div>
                    </form>
                </div>

            </div>

            <ng-template #elseBlock>
                <h1>Error</h1>
            </ng-template>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>



        </div>
    </div>
</div>