<table class="table table-striped  table-hover">
    <thead class="">
        <tr>
            <th>KnjigaID</th>
            <th>KnjigaIme</th>
            <th>KnjigaAutor</th>
            <th>KnjigaStanje</th>
            <th>KnjigaDatumIzdavanja</th>
            <th>KnjigaDatumVracanja</th>
            <th>KnjiguIznajmio</th>
            <th>Izmeni</th>
            <th>Izbrisi</th>
            <th>Iznajmi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let knjiga of KnjigeLista">
            <td>{{knjiga.KnjigaId}}</td>
            <td>{{knjiga.KnjigaIme}}</td>
            <td>{{knjiga.KnjigaAutor}}</td>
            <td>{{knjiga.KnjigaStanje}}</td>
            <td>{{knjiga.KnjigaDatumIzdavanja}}</td>
            <td>{{knjiga.KnjigaDatumVracanja}}</td>
            <td>{{knjiga.KnjiguIznajmio}}</td>

            <td>
                <app-knjige-edit></app-knjige-edit>
            </td>
            <td>
                <button (click)="deleteKnjiga(knjiga)" type="button" class="btn btn-danger mr-1">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                    </svg>
                </button>
            </td>
            <td>
                <button class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                        <path fill-rule="evenodd"
                            d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                    </svg></button>
            </td>
        </tr>
    </tbody>
</table>